
<p-table
    #dt
    [value]="events"
    [rows]="4"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEvents"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>

    <ng-template pTemplate="header">
        <tr>

            <th pSortableColumn="id" style="min-width:15rem">
                Id <p-sortIcon field="id" />
            </th>

            <th pSortableColumn="name" style="min-width:10rem">
                Name <p-sortIcon field="name" />
            </th>
              <th pSortableColumn="emailOfArtist">
                EmailOfArtist <p-sortIcon field="emailOfArtist" />
            </th>


            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
        <tr>
            <td>
                {{ event.id }}
            </td>
            <td>
                {{ event.name }}
            </td>
             <td>
                {{ event.emailOfArtist}}
            </td>


  
            <td>
               
                <p-button 
                    pRipple 
                    icon="pi pi-trash" 
                    severity="danger" 
                    [rounded]="true" 
                    [outlined]="true" 
                    (click)="delete(event.id)"
         />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{ events ? events.length : 0 }} events.
        </div>
    </ng-template>
</p-table>