<div>
<nav class="navbar">
  
  <ul class="nav-links">
    <li><a routerLink="/doctors">არტისტები</a></li>
    <li><a routerLink="/events">ივენთები</a></li>
    <li><a routerLink="/">ჩვენს შესახებ</a></li>
    <li><a routerLink="/">კითხვები</a></li>
    <li><a routerLink="/">კონტაქტი</a></li>
    <li><a routerLink="/admin">პროფილი</a></li>
    
  </ul>
  <button class="logIn" (click)="goToLogIn()">ავტორიზაცია /</button>
  <button class="signUp" (click)="goToSignUp()">რეგისტრაცია</button> 
  <button class="Eng">ENG</button>
   
  <!-- <div class="auth">

       <a routerLink="/login"><h5 class="login">ავტორიზაცია</h5></a>
       <a routerLink="/signup"><h5>რეგისტრაცია</h5></a>
    </div>
    <div class="eng" >
      <a routerLink="/">ENG</a>
    </div> -->
</nav>
</div>